---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Breakpoints
$small-screen: 25em;
$medium-screen: 50em;
$large-screen: 72em;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "helpers",
        "base",
        "brand",
        "layout",
        "syntax-highlighting"
;


		#new-icon {
		  position: relative;
		    float:left;
		    
		  background: #333;
		  text-indent: -999em;
		  width: 150px;
		  height: 150px;
		  border-radius: 50%;
		  overflow: hidden;
		    
		-webkit-animation: spin 1s infinite linear;
		    animation: spin 1s infinite linear;
		}
		
		#new-icon:before {
		    position: absolute;
		    bottom: 20px;
		    right: 1px;
		    
		    border-radius: 50%;
		    height: 100px;
		    width: 100px;
		    
		    background: #fff;
		    content: '/20';
		}
		
		#new-icon:after {
		    position: absolute;
		    bottom: 40px;
		    right: 2px;
		    
		    border-radius: 50%;
		    height: 50px;
		    width: 50px;
		    
		    background: #333;
		    content: '/20';
		}
		
		#new-icon.other {
		    background: red;  
		-webkit-animation: spinback 1.5s infinite linear;
		    animation: spinback 1.5s infinite linear;    
		}
		
		@-webkit-keyframes spin {
		    0%   {-webkit-transform: rotate(0deg)}
		    100% {-webkit-transform: rotate(360deg)}
		}
		
		@keyframes spin {
		    0%   {transform: rotate(0deg)}
		    100% {transform: rotate(360deg)}
		}
		
		@-webkit-keyframes spinback {
		    0%   {-webkit-transform: rotate(0deg)}
		    100% {-webkit-transform: rotate(-360deg)}
		}
		
		@keyframes spinback {
		    0%   {transform: rotate(0deg)}
		    100% {transform: rotate(-360deg)}
		}

	